body {
  background-color: rgb(225, 225, 225);
  color: #333;
}

nav a, nav li {
  color: #333;
  text-decoration: none;
}

nav a.active {
  color:deeppink;
}

textarea, textarea::placeholder {
  font-family: Arial;
}

p {
  white-space: pre-wrap;
}

.pink-text {
  color: deeppink;
}

.dev-outline {
  outline: 2px solid deeppink;
}
